@page "/employees/{currentPage:int?}"
@inject IDbContextFactory<EMSDbContext> ContextFacory
@inject NavigationManager NavigationManager
@inject StateContainer StateContainer
@inject IJSRuntime JS

<PageTitle>Employees</PageTitle>

<h1>Employees</h1>

@if (Employees is null)
{
    <div>Loading...</div>
}
else
{
    <ul class="pagination justify-content-end">
        <li class="page-item @(CurrentPage == 1?"disabled":"")">
            <a class="page-link" href="employees/@(CurrentPage-1)">Prev</a>
        </li>
        @for (int i = 1; i <= TotalPages; i++)
        {
            <li class="page-item @(CurrentPage == i?"active":"")">
                <a class="page-link" href="employees/@i">@i</a>
            </li>
        }
        <li class="page-item @(CurrentPage == TotalPages?"disabled":"")">
            <a class="page-link" href="employees/@(CurrentPage+1)">Next</a>
        </li>
    </ul>
    <a class="btn btn-primary" href="employees/add">
        <span class="oi oi-plus" aria-hidden="true"></span> Add Employees
    </a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>FullName</th>
                <th>Department</th>
                <th>Is Developer</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in Employees)
            {
                <tr>
                    <td>@emp.FullName</td>
                    <td>@emp.Department?.Name</td>
                    <td>@emp.IsDeveloper</td>
                    <td class="btn-group-sm">
                        <a href="/employees/edit/@emp.Id" class="btn btn-outline-primary">Edit</a>
                        <bytton class="btn btn-outline-danger" @onclick="()=>HandleDelete(emp)">
                            Delete
                        </bytton>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <ul class="pagination justify-content-end">
        <li class="page-item @(CurrentPage == 1?"disabled":"")">
            <a class="page-link" href="employees/@(CurrentPage-1)">Prev</a>
        </li>
        @for (int i = 1; i <= TotalPages; i++)
        {
            <li class="page-item @(CurrentPage == i?"active":"")">
                <a class="page-link" href="employees/@i">@i</a>
            </li>
        }
        <li class="page-item @(CurrentPage == TotalPages?"disabled":"")">
            <a class="page-link" href="employees/@(CurrentPage+1)">Next</a>
        </li>
    </ul>
}

@code {
    [Parameter]
    public int? CurrentPage { get; set; }

    private Employee[]? Employees { get; set; }
    private int TotalPages { get; set; }
    private int ItemsPerPage = 4;

    protected override async Task OnParametersSetAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        if (CurrentPage is null or < 1)
        {
            NavigationManager.NavigateTo("/employees/1");
            return;
        }

        using var dbContext = ContextFacory.CreateDbContext();

        int itemsToSkip = (CurrentPage.Value - 1) * ItemsPerPage;
        int employeeCount = await dbContext.Employees.CountAsync();
        TotalPages = employeeCount == 0 ? 1 : (int)Math.Ceiling((double)employeeCount / ItemsPerPage);

        if (CurrentPage > TotalPages)
        {
            NavigationManager.NavigateTo($"/employees/{TotalPages}");
            return;
        }

        StateContainer.EmployeeViewPage = CurrentPage.Value;

        Employees = await dbContext.Employees.Include(x => x.Department).OrderBy(x => x.FullName).Skip(itemsToSkip).Take(ItemsPerPage).ToArrayAsync();
    }

    private async Task HandleDelete(Employee employee)
    {
        var isConfrimed = await JS.InvokeAsync<bool>("confirm",$"Delete Employee {employee.FullName}?");

        if (isConfrimed)
        {
            try
            {
                using var context = ContextFacory.CreateDbContext();
                context.Employees.Remove(employee);
                await context.SaveChangesAsync();
            }
            catch (DbUpdateConcurrencyException)
            {
                // If this exception is triggered that means that the Data is already deleted just before this user tried to delete.
            }

            await LoadData();
        }
    }
}